// colors
$loginfieldborder: #BCC4D4;
$lightblue: #0192F2;
$orange: #F26101;
$white: white;
$verylightblue: rgba(1,146,242,0.05);
$green: #71c44b;
$lightgreen: #D5F4E1;
$lightyellow: #FDF1CD;
$yellow: #fcc019;
$red: #ea5844;
$lightred: #FDCCD1;
$font: #2A3958;
$newfont: #585959;
$lightshadegray: #EBEFF2;
$actionbutton: #CCE9FD;
$lightorange: #FFD300;
$userbackground: #F5F9FC;
$offwhite: #f1f2f2;
$black: #000;
$skyblue:#7fcaf1;
$backgray:#ededed;
$gray:#bdbcbc;
$lightgray:#898989;
$btngray:#878888;
$darkgray:#5a5b5b;
$graymore:#3f3f3f;
$lightgray:#9d9e9e;
$dskyblue:#3b97d3;
$activeblue:#008dd2;