<div class="wrapper">
  <form class="login" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <p class="title">Log in</p>
    <div class="form-group">
      <input type="text" placeholder="Full Name" class="form-control" formControlName="user_name" />
      <i class="fa fa-user"></i>
      <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
        <div *ngIf="f.user_name.errors?.required">User Name is required</div>
    </div>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Email Id" class="form-control" formControlName="user_email" />
      <i class="fa fa-user"></i>
      <div *ngIf="submitted && f.user_email.errors" class="invalid-feedback">
        <div *ngIf="f.user_email.errors?.required">Email is required</div>
        <div *ngIf="f.user_email.errors?.email">Email must be a valid email address</div>
    </div>
    </div>

    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" formControlName="user_pwd" />
      <i class="fa fa-key"></i>
      <div *ngIf="submitted && f.user_pwd.errors" class="invalid-feedback">
        <div *ngIf="f.user_pwd.errors?.required">Password is required</div>
        <div *ngIf="f.user_pwd.errors?.minlength">Password must be at least 6 characters</div>
    </div>
    </div>

    <div class="form-group">
      <input type="password" placeholder="Re Enter Password" class="form-control" formControlName="user_rePwd" />
      <i class="fa fa-key"></i>
      <div *ngIf="submitted && f.user_rePwd.errors" class="invalid-feedback">
        <div *ngIf="f.user_rePwd.errors?.required">Re-Password is required</div>
    </div>
    </div>
    <a href="#">Forgot your password?</a>
    <div>
      <button type="submit">
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
    </div>
  </form>
</div>
