<div class="header">
    <div class="title_burger">
      <div class="burger">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="title">
        <div class="text">Dashboard</div>
        <div class="logo_container">
          <div class="profile">
            <i class="fas fa-user"></i>
          </div>
          <div class="cart">
            <i class="fas fa-shopping-cart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="searchbar">
    <div class="input">
      <div class="icon"><i class="far fa-search" aria-hidden="true"></i></div>
      <input type="text" name="search" placeholder="Search"
       />
    </div>
    
  </div>