ion-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
    align-items: center;

    ion-icon{
            /* height: 5vh; */
    margin-right: 8vh;
    font-size: 5vh;
    margin-top: 1vh;
    flex-direction: row;
    padding-top: -1vh;
    /* width: 8vh; */
    align-items: center;
    display: inline-flex;
    }

    ion-searchbar{
        width: 67%;
    /* height: 4vh; */
    display: inline-flex;
    /* border-radius: 38vh; */
    flex-direction: row;
    margin: 1vh;
    }
}

.main-container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    .seller-info-container{
        height: 30vh;
        width: 100%;
        border: 1px solid red;
        display: flex;
        align-items: center;
    }

    .medicines-cards-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid blue;
    }

}
