/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*--------------------- Fonts --------------------*/
@font-face {
  font-family: "Bebasneue Regular";
  src: url(assets/fonts/bebasneue_regular.ttf);
}
@font-face {
  font-family: "Cargoframedemo";
  src: url(assets/fonts/cargoframedemo.ttf);
}
@font-face {
  font-family: "Digital";
  src: url(assets/fonts/digital.ttf);
}
@font-face {
  font-family: "Discount Inferno";
  src: url(assets/fonts/discount_inferno.ttf);
}
@font-face {
  font-family: "Fake Receipt";
  src: url(assets/fonts/fake_receipt.ttf);
}
@font-face {
  font-family: "Halter";
  src: url(assets/fonts/halter.ttf);
}
@font-face {
  font-family: "Heavyequipment";
  src: url(assets/fonts/heavyequipment.ttf);
}
@font-face {
  font-family: "Keepcalm";
  src: url(assets/fonts/keepcalm.ttf);
}
@font-face {
  font-family: "Keepcalm Medium";
  src: url(assets/fonts/keepcalm_medium.ttf);
}
@font-face {
  font-family: "Nummer";
  src: url(assets/fonts/nummer.ttf);
}
@font-face {
  font-family: "Nummern";
  src: url(assets/fonts/nummern.ttf);
}
@font-face {
  font-family: "Osb";
  src: url(assets/fonts/osb.ttf);
}
@font-face {
  font-family: "Osl";
  src: url(assets/fonts/osl.ttf);
}
@font-face {
  font-family: "Osm";
  src: url(assets/fonts/osm.ttf);
}
@font-face {
  font-family: "Withoutatrace";
  src: url(assets/fonts/withoutatrace.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(assets/fonts/Poppins-Light.otf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(assets/fonts/Poppins-Regular.otf);
}

ion-slides .swiper-pagination-bullet-active {
    --bullet-background-active: darkcyan;
  }
  
  body {
    background: white;
    font-family: "Poppins-Light";
  }
  .container{
    font-family: "Poppins-Light";
  }
  
  #map {
    height: 100%;
  }
  .popover-content {
    right: 0px !important;
    width: 180px !important;
    max-width: 180px !important;
  }
  
  ion-toolbar {
    --background: #2d3f48;
    --color: #fff;
    text-align: center;
  }
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Osb;
  }
  ion-content {
    --background: rgba(0,0,0,0) none !important;
  }
  
  .transparent-modal {
    .modal-wrapper {
      background: transparent;
    }
    ion-content {
      --background: transparent !important;
    }
  }